* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
}

h1 {
	font-weight: 500;
	color: #222222;
	font-size: 46px;
}

.textCenter {
	text-align: center;
}

.mr-15 {
	margin-right: 15px;
}
.mr-30 {
	margin-right: 30px;
}
