/* ================================================= */
/* Main Section */
/* ================================================= */

.main-section-container {
	display: flex;
	justify-content: space-between;
	height: 800px;
}

.main-section-container .info-input {
	margin-left: 30px;
	margin-top: 70px;
}

.main-section-container .info-input h1 {
	font-weight: 500;
	color: #222222;
	font-size: 46px;
	max-width: 600px;
}

.main-section-container .info-input p {
	margin-top: 25px;
	font-size: 16px;
	color: #555555;
	max-width: 600px;
}

.main-section-container .banner-image {
	position: absolute;
	right: 0;
	z-index: -1;
}

.input-search-container {
	display: flex;
	width: 730px;
	height: 70px;
	margin-top: 30px;
	box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	align-items: center;
	justify-content: space-between;
	border-radius: 0 5px 5px 0;
}

.input-search-items-container {
	display: flex;
}

.input-search-items-inputs-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input-search-item-separator {
	width: 1px;
	height: 40px;
	margin-left: 20px;
	background-color: #eee;
	border: none;
}

.input-search-item {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.input-search-item img {
	width: 24px;
	height: 24px;
	margin-right: 5px;
}

.select {
	padding: 10px 0px;
	font-weight: 500;
	border: none;
	color: #aaaaaa;
	background-color: #fff;
}

.input-search-button {
	cursor: pointer;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: #2ecc71;
}

/* ================================================= */
/* How it works */
/* ================================================= */

.how-it-works-container { margin: 30px; }

.how-it-works-items-block {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: no-warp;
	margin-top: 70px;
}

.how-it-works-item {
	display: flex;
	width: 280px;
	height: 300px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.15);
	padding: 20px;
	flex-direction: column;
	text-align: center;
}

.how-it-works-item .step {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-bottom: 30px;
}

.how-it-works-item .step-1 {
	background-color: #35db7b;
}
.how-it-works-item .step-2 {
	background-color: #2ecc71;
}
.how-it-works-item .step-3 {
	background-color: #44ab70;
}

.how-it-works-item .step h5 {
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
}

.how-it-works-item h4 {
	font-weight: 500;
	font-size: 18px;
	color: #333333;
	margin-bottom: 10px;
}

.how-it-works-item p {
	font-size: 14px;
	color: #999999;
}

.how-it-works-item a {
	margin-top: 25px;
	display: flex;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	color: #ff902e;
}

/* ================================================= */
/* Some properties   */
/* ================================================= */
.some-properties-container {
	margin: 100px 0;
	overflow-x: hidden;
}

.some-properties {
	margin-top: 100px;
	display: flex;
}

.some-properties-images {
	display: flex;
	margin-left: 30px;
}

.some-properties-images img {
	margin-left: 20px;
}

.properties-info {
	margin-left: 65px;
	margin-top: 80px;
	min-width: 550px;
}

.properties-info hr {
	border: none;
	width: 100%;
	height: 1px;
	background-color: #aaa;
	margin-top: 20px;
	margin-bottom: 30px;
}

.properties-info-sidechange {
	width: 65px;
	height: 65px;
	cursor: pointer;
	border-radius: 100%;
	border: 2px solid #2ecc71;
	background-color: #ffffff;
	margin-left: 10px;
	margin-right: 15px;
}

.properties-info-number {
	display: flex;
	align-items: center;
}

.properties-info-header {
	display: flex;
	justify-content: space-between;
}

.properties-info-header h4 {
	color: #616161;
	font-size: 48px;
	font-weight: 500;
}

.properties-info-header h5 {
	color: #979797;
	font-size: 36px;
	font-weight: 500;
}

.city-and-price {
	display: flex;
	justify-content: space-between;
}

.city-and-price .city {
	color: #aaaaaa;
	font-size: 12px;
	font-weight: 500;
}

.city-and-price .price {
	color: #616161;
	font-size: 24px;
}
.city-and-price .price span {
	font-size: 18px;
	color: #44aa70;
}

.some-properties-title {
	margin-top: 30px;
	font-size: 32px;
	font-weight: 500;
	color: #333333;
}

.some-properties-address {
	color: #aaa;
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.some-properties-address img {
	margin-right: 10px;
}

.some-properties-info {
	display: flex;
	margin-top: 20px;
}

.some-properties-info-item {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.some-properties-info-item img {
	width: 24px;
	height: 24px;
}

.some-properties-info-item span {
	color: #44ab70;
	font-size: 13px;
	margin-left: 10px;
	font-weight: 500;
}

.some-properties-button {
	margin-top: 40px;
	width: 270px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #44ab70;
	background-color: #ffffff;
	padding: 15px 20px;

	color: #44ab70;
	font-weight: 500;
	font-size: 14px;
}

/* ================================================= */
/* Why Us?   */
/* ================================================= */
.why-us-container {
	width: 100%;
	height: 700px;
	background-color: #3d4244;
}

.why-us-container .why-us {
	display: flex;
	margin-left: 80px;
	padding-top: 100px;
}

.why-us-container .why-us .why-us-left-block h3 {
	font-size: 36px;
	font-weight: 500;
	color: #ffffff;
}

.why-us-container .why-us .why-us-left-block p {
	max-width: 400px;
	font-size: 16px;
	color: #d8d8d8;
	margin-top: 15px;
}

.why-us-container .why-us button {
	cursor: pointer;
	margin-top: 40px;
	border-radius: 5px;
	border: 2px solid #44ab70;
	color: #44ab70;

	font-size: 14px;
	font-weight: 500;

	padding: 15px 70px;
	background-color: transparent;
}

.why-us-items {
	display: flex;
	align-items: center;
	margin-left: 100px;
}

.why-us-item:nth-child(1) {
	margin-bottom: 50px;
}

.why-us-item {
	margin-right: 50px;
	width: 230px;
	height: 230px;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 15px 20px;
}

.why-us-item .icon-bg {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 46px;
	height: 46px;
	background-color: #eafaf1;
}

.why-us-item h5 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #333333;
}

.why-us-item p {
	font-size: 12px;
	color: #aaaaaa;
}

/* ================================================= */
/* Featured Properties   */
/* ================================================= */

.featured-properties-container h1 {
	margin: 100px 0;
}

.featured-properties {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: no-wrap;
}

.featured-properties-info h4 {
	font-size: 18px;
	color: #333333;
}

.featured-properties .featured-properties-item {
	width: 511px;
	height: 460px;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.15);
}

.featured-properties .featured-properties-info {
	padding: 15px;
}

.featured-properties-button {
	cursor: pointer;
	margin-top: 40px;
	border-radius: 5px;
	border: 2px solid #ff902e;
	color: #ff902e;

	font-size: 14px;
	font-weight: 500;

	padding: 15px 70px;
	background-color: transparent;
}

.featured-properties-button-container {
	display: flex;
	justify-content: center;
}

/* ================================================= */
/* Our Clients  */
/* ================================================= */
.our-clients-container {
	margin-top: 100px;
}

.witness {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.witness-item {
	position: relative;
	width: 40%;
	height: 300px;
	padding: 30px;
	background-color: #44ab70;
	margin-left: 15px;
	margin-right: 15px;
}

.witness-item p {
	color: #ffffff;
}

.witness-item-person {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 0;
	margin-bottom: 30px;
}

.witness-item-person img {
	margin-right: 15px;
}

.witness-item-person div h5 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
}

.witness-item-person div span {
	font-size: 14px;
	color: #d5d5d5;
}

/* ================================================= */
/* FAQ  */
/* ================================================= */
.faq-container {
	margin-top: 100px;
}

.faq {
	margin-top: 60px;
	display: flex;
	margin-bottom: 150px;
}

.faq .faq-content {
	margin-left: 60px;
	max-width: 580px;
	margin-right: 30px;
}

.faq-content h2 {
	color: #333333;
	font-size: 36px;
	font-weight: 500;
}

.faq-content-questions-block {
	margin-top: 45px;
}

.faq-content-question > div {
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-top: 30px;
}

.faq-content-question > div h5 {
	color: #333333;
	font-size: 18px;
	font-weight: 500;
	margin-right: 10px;
	min-width: 470px;
	max-width: 470px;
}

.faq-content-question p {
	color: #838383;
	font-size: 14px;
	max-width: 470px;
	margin-top: 10px;
}

.faq-content-question > div.active h5 {
	color: #ff902e;
}

/* ================================================= */
/* Footer  */
/* ================================================= */
footer {
	width: 100%;
	height: 380px;
	padding: 30px;
	background-color: #e5f6ec;
}

footer .body-footer-container {
	display: flex;
	align-items: center;
}

footer .footer-image {
	margin: 30px;
}

footer .footer-links-container {
	display: flex;
	width: 600px;
	align-items: flex-start;
}

footer .footer-image p {
	color: #333333;
	margin-top: 15px;
	font-size: 18px;
	font-weight: 500;
	max-width: 260px;
}

.footer-links-container {
	margin-left: 80px;
}

.footer-links-item {
	width: 140px;
	margin: 40px;
}

.footer-links-item h4 {
	color: #333333;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 20px;
}

.footer-links-item li {
	margin-bottom: 15px;
}

.footer-links-item li a {
	color: #838383;
	font-size: 14px;
	font-weight: 500;
}

footer .copy-text-container {
	text-align: center;
	margin-top: 50px;
}

footer .copy-text {
	font-size: 14px;
	font-weight: 500;
	color: #aaaaaa;
}
